@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(199, 178, 253);
    color: white;

}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(130, 195, 108, 0.734);
    background-color: rgb(251, 218, 234);
    color: rgba(140, 231, 21, 0.6);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20pt;
    
}

section {
    background: rebeccapurple;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
 